<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flavita STT | {% block title %} Главная {% endblock %}</title>

  {% include "stt/base_css.html" %}
  {% block additional_css %}
  {% endblock %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

  {% include "stt/navbar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{% block header1 %} Flavita STT {% endblock %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% block breadcrumb %}
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <!-- <li class="breadcrumb-item active">Dashboard v1</li> -->
              {% endblock %}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        {% block content %}

        {% endblock %}
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


{% include "stt/base_js.html" %}

{% block additional_js %}

{% endblock %}
</body>
</html>
