{% extends 'stt/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Спиок задач
{% endblock %}

{% block header1 %}
Спиок задач
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Главная</li>
{% endblock %}

{% block content %}
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div hx-target="this" hx-swap="outerHTML" hx-get="{% url 'get_tasks' %}" hx-trigger="load">
        </div>
    </div>
{% endblock %}
