{% extends 'stt/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Загрузка аудио
{% endblock %}

{% block header1 %}
Загрузить аудио запись
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item">Загрузка</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card card-primary">

      <div class="alert alert-warning">
        <h5><i class="icon fas fa-exclamation-triangle"></i>Осторожно</h5>
        Сервис не гарантирует конфиденциальность хранимых данных.<br>
        Не загружайте конфиденциальные переговоры или записи из проектов под NDA.
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">


          <div class="form-group">
            <label for="input-file">Файл</label>
            <div class="input-group">
              <div class="custom-file">
                {{ form.file|attr:"id:input-file"|attr:"class:custom-file" }}
                <label class="custom-file-label" for="input-file">Выберите файл</label>
              </div>

            </div>
          </div>
          <div class="form-group">
              <label for="form-file-name">Название для файла</label>
              {{ form.name|attr:"id:form-file-name"|attr:"class:form-control"|attr:"placeholder:Ведите название" }}
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
      </form>
    </div>
  </div>
</div>





{% endblock %}

{% block additional_js %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script type="text/javascript">
$(function () {
  bsCustomFileInput.init("#input-file");
});
</script>
{% endblock %}