{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>STT | ВХОД </title>

  {% include "stt/base_css.html" %}

</head>
<body class="hold-transition login-page">


<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="h1">Flavita stt</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Логин</p>
      {% if form.subject.errors %}
          <ol>
          {% for error in form.subject.errors %}
              <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
          </ol>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {% render_field form.username class+="form-control" %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {% render_field form.password class+="form-control" %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.card-body -->
    </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


{% include "stt/base_js.html" %}
</body>
</html>