{% extends 'stt/base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}
{{ audio.name }}
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.css">
{% endblock %}

{% block header1 %}
Результаты: {{ audio.name }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Главная</a></li>
<li class="breadcrumb-item active" > {{ audio.name }}</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-12 col-lg-4 col-md-6">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Запись
              </h3>
            </div>
            <div class="card-body">
                <audio class="op-player__media" id="audio-player"><source src="{{ audio.file.url }}" type="{{ audio.mime_type }}" style="width:100%"></audio>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Действия
              </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4" role="button">
                        <a class="btn btn-app" id="change-view" title="Переключить внешний вид результатов" _="on click toggle .d-none on #result-raw then toggle .d-none on #result-formated">
                          <i class="far fa-file-alt"></i> Вид
                        </a>
                    </div>
                    <div class="col-4" role="button">
                        <a class="btn btn-app" id="copy-result" title="Скопировать в буфер обмена" _="on click set text_raw to #result-raw.innerText then call navigator.clipboard.writeText(text_raw) ">
                          <i class="far fa-copy"></i> Скопировать
                        </a>
                    </div>
                    <div class="col-4 " role="button" title="Скачать файл результатов">
                        <a class="btn btn-app" href="data:text/plain;charset=UTF-8,{{ raw_text|urlencode:'' }}" download="{{ audio.name|translit_slugify }}.txt">
                          <i class="fas fa-download"></i> Скачать
                        </a>
                    </div>
                    <div class="col-4" role="button">
                        <a class="btn btn-app" id="delete-result" title="Удалить результаты" _="on click fetch {% url 'delete_recognize' audio.id %} then js window.location.href='{% url 'index' %}'; end">
                          <i class="far fa-trash-alt"></i> Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Свойства
              </h3>
            </div>
            <div class="card-body">
                <p><b>Статус:</b> {{ audio.recognize.status }}</p>
                <p><b>Дата начала:</b> {{ audio.recognize.creation_time }}</p>
                <p><b>Дата окончания:</b> {{ audio.recognize.finish_time }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-md-6 order-md-first" >
        <div class="card card-solid d-none" id="result-raw">
            <div class="card-body pb-0">
                {{ raw_text|linebreaks }}
            </div>
        </div>
        <div class="card card-solid" id="result-formated">
            <div class="card-body pb-0">
                {% for page in recognize_results %}
                <div  class="recognize-part row{% if forloop.counter != 1 %} d-none{% endif %}" data-recognize-part="{{ forloop.counter }}">
                    {% for part in page %}
                        <div class="col-12">
                            <div class="card">
                              <div class="card-header {% if part.speaker == 0 %}bg-indigo{% elif part.speaker == 1 %}bg-lightblue{% elif part.speaker == 2 %}bg-navy{% elif part.speaker == 3 %}bg-purple{% elif part.speaker == 4 %}bg-fuchsia{% endif %}">
                                <h3 class="card-title">Спикер - {{part.speaker}} </h3>
                                <div class="card-tools">
                                  <button type="button" data-time={{ part.part_start|floatformat:"0" }} class="btn btn-tool go-to-button">
                                      {{ part.part_start|to_time }}
                                  </button> -
                                    <button type="button" data-time={{ part.part_end|floatformat:"0" }} class="btn btn-tool go-to-button">
                                      {{ part.part_end|to_time }}
                                  </button>
                                </div>
                                <!-- /.card-tools -->
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                {{ part.text }}
                              </div>
                              <!-- /.card-body -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                    {% for page in recognize_results %}
                        <li class="page-item{% if forloop.counter == 1 %} active{% endif %}" data_page={{forloop.counter}}><button class="page-link">{{forloop.counter}}</button></li>
                    {% endfor %}
                </ul>
              </nav>
            </div>
            <!-- /.card-footer -->
        </div>
    </div>

</div>
</div>

{% endblock %}

{% block additional_js %}

<script src="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.js"></script>
<script type="text/javascript">
    var player = new OpenPlayerJS("audio-player");
    player.init();

    $( ".go-to-button" ).click(function() {
       player.getMedia().currentTime = $(this).attr("data-time")
    });

    $( ".page-item" ).click(function() {
        let page_num = $(this).attr("data_page");
        $(".page-item").removeClass('active');
        $(this).addClass('active');
        $(".recognize-part").addClass("d-none");
        $(`.recognize-part[data-recognize-part="${page_num}"]`).removeClass('d-none');
        window.scrollTo({ top: 0, behavior: 'instant' });
    });
</script>

{% endblock %}