<div class="row" id="task-list">
    {% for audio in audios %}
        {% if audio.recognize.status == "завершен" %}
        <div class="col-12 alert alert-success" onclick=" window.location = {% url 'recognize_detail' audio.id %};" role="button">
            <h5><i class="icon fas fa-check"></i> {{ audio.name }} </h5>
            <b>Статус:</b> {{ audio.recognize.status }};  <b>Дата начала:</b> {{ audio.recognize.creation_time }};  <b>Дата окончания:</b> {{ audio.recognize.finish_time }}
        </div>
        {% elif audio.recognize.status == "обрабатывается" %}
        <div class="col-12 alert alert-warning">
            <h5><i class="icon fas fa-pencil-alt"></i> {{ audio.name }}</h5>
            <b>Статус:</b> {{ audio.recognize.status }};  <b>Дата начала:</b> {{ audio.recognize.creation_time }};  <b>Дата окончания:</b> {{ audio.recognize.finish_time }}
        </div>
        {% elif audio.recognize.status == "в очереди" %}
        <div class="col-12 alert alert-info">
            <h5><i class="far fa-play-circle"></i> {{ audio.name }}</h5>
            <b>Статус:</b> {{ audio.recognize.status }};  <b>Дата начала:</b> {{ audio.recognize.creation_time }};  <b>Дата окончания:</b> {{ audio.recognize.finish_time }}
        </div>
        {% elif audio.recognize.status == "ошибка" %}
        <div class="col-12 alert alert-danger" data-task-id="{{ audio.id }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" _="on click fetch {% url 'delete_recognize' audio.id %} then remove <[data-task-id='{{ audio.id }}']/>"><i class="far fa-trash-alt"></i></button>
            <h5><i class="icon fas fa-ban"></i> {{ audio.name }}</h5>
            <b>Статус:</b> {{ audio.recognize.status }};  <b>Дата начала:</b> {{ audio.recognize.creation_time }}; <br> <b>Причина:</b> {{ audio.recognize.message }}
        </div>
        {% endif %}
    {% endfor %}
    {% if unfinished_exist %}
        <div hx-target="#task-list" hx-get="{% url 'get_tasks' %}"  hx-trigger="load delay:10000ms" hx-swap="outerHTML"></div>
    {% endif %}
</div>